<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hsyd.dao.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.hsyd.model.Product" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="original" property="original" jdbcType="REAL" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="bespeak_count" property="bespeakCount" jdbcType="INTEGER" />
    <result column="grounding" property="grounding" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="target_sex" property="targetSex" jdbcType="INTEGER" />
    <result column="del_status" property="delStatus" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.hsyd.model.ProductWithBLOBs" extends="BaseResultMap" >
    <result column="image_url" property="imageUrl" jdbcType="LONGVARCHAR" />
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, product_id, name, type_id, user_id, price, original, count, bespeak_count, grounding, 
    create_time, update_time, target_sex, del_status
  </sql>
  <sql id="Blob_Column_List" >
    image_url, description
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.hsyd.model.ProductExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from m_product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hsyd.model.ProductExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from m_product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from m_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from m_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hsyd.model.ProductExample" >
    delete from m_product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hsyd.model.ProductWithBLOBs" >
    insert into m_product (id, product_id, name, 
      type_id, user_id, price, 
      original, count, bespeak_count, 
      grounding, create_time, update_time, 
      target_sex, del_status, image_url, 
      description)
    values (#{id,jdbcType=INTEGER}, #{productId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{typeId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{price,jdbcType=REAL}, 
      #{original,jdbcType=REAL}, #{count,jdbcType=INTEGER}, #{bespeakCount,jdbcType=INTEGER}, 
      #{grounding,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{targetSex,jdbcType=INTEGER}, #{delStatus,jdbcType=INTEGER}, #{imageUrl,jdbcType=LONGVARCHAR}, 
      #{description,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hsyd.model.ProductWithBLOBs" >
    insert into m_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="original != null" >
        original,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="bespeakCount != null" >
        bespeak_count,
      </if>
      <if test="grounding != null" >
        grounding,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="targetSex != null" >
        target_sex,
      </if>
      <if test="delStatus != null" >
        del_status,
      </if>
      <if test="imageUrl != null" >
        image_url,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=REAL},
      </if>
      <if test="original != null" >
        #{original,jdbcType=REAL},
      </if>
      <if test="count != null" >
        #{count,jdbcType=INTEGER},
      </if>
      <if test="bespeakCount != null" >
        #{bespeakCount,jdbcType=INTEGER},
      </if>
      <if test="grounding != null" >
        #{grounding,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="targetSex != null" >
        #{targetSex,jdbcType=INTEGER},
      </if>
      <if test="delStatus != null" >
        #{delStatus,jdbcType=INTEGER},
      </if>
      <if test="imageUrl != null" >
        #{imageUrl,jdbcType=LONGVARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hsyd.model.ProductExample" resultType="java.lang.Integer" >
    select count(*) from m_product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update m_product
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.productId != null" >
        product_id = #{record.productId,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.typeId != null" >
        type_id = #{record.typeId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=REAL},
      </if>
      <if test="record.original != null" >
        original = #{record.original,jdbcType=REAL},
      </if>
      <if test="record.count != null" >
        count = #{record.count,jdbcType=INTEGER},
      </if>
      <if test="record.bespeakCount != null" >
        bespeak_count = #{record.bespeakCount,jdbcType=INTEGER},
      </if>
      <if test="record.grounding != null" >
        grounding = #{record.grounding,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.targetSex != null" >
        target_sex = #{record.targetSex,jdbcType=INTEGER},
      </if>
      <if test="record.delStatus != null" >
        del_status = #{record.delStatus,jdbcType=INTEGER},
      </if>
      <if test="record.imageUrl != null" >
        image_url = #{record.imageUrl,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update m_product
    set id = #{record.id,jdbcType=INTEGER},
      product_id = #{record.productId,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      type_id = #{record.typeId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      price = #{record.price,jdbcType=REAL},
      original = #{record.original,jdbcType=REAL},
      count = #{record.count,jdbcType=INTEGER},
      bespeak_count = #{record.bespeakCount,jdbcType=INTEGER},
      grounding = #{record.grounding,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      target_sex = #{record.targetSex,jdbcType=INTEGER},
      del_status = #{record.delStatus,jdbcType=INTEGER},
      image_url = #{record.imageUrl,jdbcType=LONGVARCHAR},
      description = #{record.description,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update m_product
    set id = #{record.id,jdbcType=INTEGER},
      product_id = #{record.productId,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      type_id = #{record.typeId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      price = #{record.price,jdbcType=REAL},
      original = #{record.original,jdbcType=REAL},
      count = #{record.count,jdbcType=INTEGER},
      bespeak_count = #{record.bespeakCount,jdbcType=INTEGER},
      grounding = #{record.grounding,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      target_sex = #{record.targetSex,jdbcType=INTEGER},
      del_status = #{record.delStatus,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hsyd.model.ProductWithBLOBs" >
    update m_product
    <set >
      <if test="productId != null" >
        product_id = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=REAL},
      </if>
      <if test="original != null" >
        original = #{original,jdbcType=REAL},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="bespeakCount != null" >
        bespeak_count = #{bespeakCount,jdbcType=INTEGER},
      </if>
      <if test="grounding != null" >
        grounding = #{grounding,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="targetSex != null" >
        target_sex = #{targetSex,jdbcType=INTEGER},
      </if>
      <if test="delStatus != null" >
        del_status = #{delStatus,jdbcType=INTEGER},
      </if>
      <if test="imageUrl != null" >
        image_url = #{imageUrl,jdbcType=LONGVARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hsyd.model.ProductWithBLOBs" >
    update m_product
    set product_id = #{productId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      price = #{price,jdbcType=REAL},
      original = #{original,jdbcType=REAL},
      count = #{count,jdbcType=INTEGER},
      bespeak_count = #{bespeakCount,jdbcType=INTEGER},
      grounding = #{grounding,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      target_sex = #{targetSex,jdbcType=INTEGER},
      del_status = #{delStatus,jdbcType=INTEGER},
      image_url = #{imageUrl,jdbcType=LONGVARCHAR},
      description = #{description,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hsyd.model.Product" >
    update m_product
    set product_id = #{productId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      price = #{price,jdbcType=REAL},
      original = #{original,jdbcType=REAL},
      count = #{count,jdbcType=INTEGER},
      bespeak_count = #{bespeakCount,jdbcType=INTEGER},
      grounding = #{grounding,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      target_sex = #{targetSex,jdbcType=INTEGER},
      del_status = #{delStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>